body {
	font-family: $bodyFont;
	font-size: $bfSize;
	font-weight: $fontWeight;
	color: $bColor;
	line-height: $blineHeight;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

iframe {
	border: none;
}

.slick-slide:focus,
button:focus,
a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
	outline: none;
}

input:focus {
	outline: none;
	box-shadow: none;
}

img:not([draggable]),
embed,
object,
video {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	outline: 0;
	color: $bColor;
	line-height: $blineHeight;
	@extend .transition;
}

a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: none;
	outline: 0;
}

a:active,
a:focus,
a:hover {
	color: $primary-color;
}

button {
	@extend .transition;
}

img {
	border: none;
	max-width: 100%;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
span a {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
}

.heading1, h1,
.heading2, h2,
.heading3, h3,
.heading4, h4,
.heading5, h5,
.heading6, h6 {
	font-family: $bodyFont;
	line-height: $blineHeight;
	color: $titleColor;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: none;
}

.heading1, h1,
.heading2, h2 {
	font-family: $font2;
}


.heading1,
h1 {
	font-size: 48px;
	line-height: 60px;
}

.heading2,
h2 {
	font-size: 36px;
}

.heading3,
h3 {
	font-size: 30px;
}

.heading4,
h4 {
	font-size: 24px;
	margin-bottom: 15px;
}

.heading5,
h5 {
	font-size: 18px;
	margin-bottom: 15px;
}

.heading6,
h6 {
	font-size: 16px;
	margin-bottom: 15px;
}

p {
	margin-bottom: 25px;
}


@include lg {
	 .heading1,
	 h1 {
	 	font-size: 46px;
	 	line-height: 48px;
	 }

	 .heading2,
	 h2 {
	 	font-size: 34px;
	 	line-height: 36px;
	 }

	 .heading4,
	 h4 {
	 	font-size: 22px;
	 }
}

@include md {
	 .heading1,
	 h1 {
	 	font-size: 38px;
	 	line-height: 42px;
	 }

	 .heading2,
	 h2 {
	 	font-size: 30px;
	 }

	 .heading4,
	 h4 {
	 	font-size: 20px;
	 }
	 
}

@include sm {
	 .heading1,
	 h1 {
	 	font-size: 34px;
	 	line-height: 34px;
	 }

	 .heading2,
	 h2 {
		 font-size: 28px;
		 line-height: 34px;
	 }

	 .heading3,
	 h3 {
		 font-size: 24px;
		 margin-bottom: 15px;
	 }

	 .heading4,
	 h4 {
		 font-size: 18px;
		 margin-bottom: 10px;
	 }

}

@include xs {
	 .heading1,
	 h1 {
	 	font-size: 28px;
	 }

	 .heading2,
	 h2 {
	 	font-size: 26px;
	 	line-height: 32px;
	 }

	 .heading3,
	 h3 {
	 	font-size: 22px;
	 }
}


