.vs-brand-layout2 {

  .vs-brand {
    text-align: center;
    img {
      vertical-align: middle;
    }
  }

  .inner-wrapper {
    box-shadow: 0px 10px 250px 0px rgba($color: $titleColor, $alpha: 0.15);
    border-radius: 200px;
  }
}