.product-details-layout1 {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;  
  }


  
  .product-content {
    .action-buttons {
  
      .icon-btn {
        height: 50px;
        width: 50px;
        background-color: $primary-color;
        color: #ffffff;
        text-align: center;
        line-height: 50px;
        display: inline-block;
      }
  
      .vs-btn {
        padding: 0;
        height: 50px;
        line-height: 50px;
        border-radius: 0;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        text-align: center;
      }
  
      .vs-btn {
        min-width: 140px;
        margin-left: 10px;
        margin-right: 10px;
      }
  
      .icon-btn {
        &.bg-theme {
          color: #ffffff;
  
          &:hover {
            background-color: $light-color;
            color: $bColor;
          }
        }
      }
    }
  }

  .product-thumb {
    .slick-slide {
      img {
        border: 2px solid transparent;
        cursor: pointer;
        transition: all ease 0.4s;
      }
    }
    .slick-current {
      img {
        border-color: $primary-color;
      }
    }
  }

  .vs-product-layout1 {
    .vs-product {
      box-shadow: none;
    }
  }


  .product-img {

    &,
    .slick-slide {
      position: relative;
    }

    .discount {
      display: inline-block;
      line-height: 1;
      padding: 7px 10px;
      font-size: 14px;
      z-index: 2;
      border-radius: 3px;
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: #ffffff;
      font-weight: 700;
    }

    .slick-arrow {
      left: 30px;
      background-color: $primary-color;
      color: #ffffff;

      &:hover {
        background-color: $primary-color3;
      }

      &.slick-next {
        left: auto;
        right: 30px;
      }
    }

    .slick-dots {
      bottom: 25px;
    }
  }

  .vs-post-comment {
    background-color: $light-color;

    .vs-btn:hover {
      background-color: #ffffff;
    }

    p {
      margin-bottom: 0;
    }
  }

  .price {
    font-size: 20px;
    font-weight: 500;
    color: $primary-color;

    del {
      color: $bColor;
    }
  }





}