
// Default Buttons

// Theme Button
.vs-btn {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  padding-left: 27px;
  vertical-align: middle;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  border: none;
  @extend .radius-50;
  @extend .transition;
  margin-right: 15px;
  &:last-of-type,
  &:last-child {
    margin-right: 0;
  }
  i {
    display: inline-block;
    margin-left: 20px;
    @include equal-size(35px);
    text-align: center;
    color: #fff;
    line-height: 35px;
    font-size: 16px;
    @extend .radius-circle;
    @extend .transition;
  }
  .btn-text {
    position: relative;
    z-index: 3;
  }
  .btn-bg {
    position: absolute;
    display: block;
    z-index: 1;
    @include equal-size(0);
    @extend .translate-equal;
    @extend .radius-circle;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  }
  &:hover {
    .btn-bg {
      width: 225%;
      height: 500px;
    }
  }
  
  // Button Style 1 
  &.style1 {
    color: $titleColor;
    background-color: #fff;
    box-shadow: 0px 5px 50px 0px rgba(255, 255, 255, 0.3);
    i {
      background-color: $primary-color2;
      box-shadow: 0px 5px 15px 0px rgba($color: $primary-color2, $alpha: 0.3);
    }
    
    .btn-bg {
      background-color: $primary-color3;
    }

    &:hover {
      background-color: transparent;
      color: #fff;
      box-shadow: 0px 5px 50px 0px rgba($color: $primary-color3, $alpha: 0.3);

    }
  }

  // Button Style 2 
  &.style2 {
    color: #fff;
    background-color: $titleColor;
    box-shadow: 0px 5px 50px 0px rgba($color: $titleColor, $alpha: 0.3);
    i {
      background-color: $primary-color2;
      box-shadow: 0px 5px 50px 0px rgba($color: $primary-color2, $alpha: 0.3);
    }
    .btn-bg {
      background-color: #fff;
    }

    &:hover {
      background-color: transparent;
      color: $titleColor;
      box-shadow: 0px 5px 50px 0px rgba($color: #fff, $alpha: 0.3);
    }
  }

  // Button Style 3
  &.style3 {
    background-color: $primary-color;
    color: #fff;
    box-shadow: 0px 5px 50px 0px rgba($color: $primary-color, $alpha: 0.3);
    i {
      background-color: #fff;
      color: $primary-color;
    }

    .btn-bg {
      background-color: $primary-color3;
    }

    &:hover {
      box-shadow: 0px 5px 50px 0px rgba($color: $primary-color3, $alpha: 0.3);

      i {
        color: $primary-color3;
      }
    }
  }

  // Button Style 4
  &.style4 {
    background-color: $primary-color2;
    color: #fff;
    i {
      background-color: #fff;
      box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.3);
      color: $primary-color2;
    }
    .btn-bg {
      background-color: $primary-color3;
    }
    &:hover {
      i {
        color: $primary-color3;
      }
    }
  }

  // Button Style 5
  &.style5 {
    background-color: transparent;
    border: 2px solid rgba($color: $titleColor, $alpha: 0.20);
    padding: 8px;
    padding-left: 27px;

    i {
      background-color: $primary-color2;
      color: #fff;
      box-shadow: 0px 5px 15px 0px rgba($color: $primary-color2, $alpha: 0.3);
    }

    .btn-bg {
      background-color: $primary-color3;
    }

    &:hover {
      color: #fff;
      border-color: transparent;
    }
  }


  i.bg-primary {
    box-shadow: 0px 5px 15px 0px rgba($color: $primary-color, $alpha: 0.3);
  }
  i.bg-primary2 {
    box-shadow: 0px 5px 15px 0px rgba($color: $primary-color2, $alpha: 0.3);
  }
  i.bg-primary3 {
    box-shadow: 0px 5px 15px 0px rgba($color: $primary-color3, $alpha: 0.3);
  }

  &.icon-none {
    padding: 14px 27px;
    
    &:hover {
      i {
        color: inherit;
      }
    }

    i {
      width: auto;
      height: auto;
      background-color: transparent;
      color: inherit;
      margin-left: 3px;
      vertical-align: middle;
      transition: inherit;
      box-shadow: none;
      line-height: inherit;
    }
  }
}


// Link Button
.link-btn {
  text-transform: capitalize;
  font-weight: 700;
  color: $primary-color;
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  @extend .transition;
  i {
    position: relative;
    vertical-align: middle;
    margin-left: 5px;
    padding-bottom: 2px;
  }
  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    background: $primary-color;
  }
  &::before {
    height: 100%;
    left: -100%;
    transition: 0.3s ease-out;
  }

  &::after {
    height: 2px;
    bottom: 0;
    left: 100%;
    transition: 0.2s 0.2s ease-out;
  }
  &:hover {
    color: $primary-color;
    &:before {
      left: 100%;
    }

    &::after {
      left: 0%;
    }
  }

  &.text-primary2 {
    &:after ,
    &:before {
      background-color: $primary-color2;
    }
    &:hover {
      color: $primary-color2;
    }
  }
  &.text-primary3 {
    &:hover {
      color: $primary-color3;
    }
    &:after ,
    &:before {
      background-color: $primary-color3;
    }
  }
  &.text-white {
    &:hover {
      color: #fff;
    }
    &:after ,
    &:before {
      background-color: #fff;
    }
  }
}


// Play Button
.play-btn {
  display: inline-block;
  @include equal-size(100px);
  line-height: 100px;
  color: $titleColor;
  font-size: 30px;
  text-align: center;
  position: relative;
  background-color: #ffffff;
  @extend .radius-circle;
  @extend .transition;

  &.overlay-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &:hover {
    background-color: $primary-color3;
    color: #fff;

    &:before,
    &:after {
      border-color: $primary-color3;
    }
  }

  &:before,
  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    @include equal-size(100%);
    border: 1px solid;
    border-color: rgba($color: #fff, $alpha: 0.50);
    border-radius: 50%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    @extend .transition;
  }
}


// Section Title
.section-title {
  margin-bottom: 80px;
  .text {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  .icon {
    color: rgba($color: $titleColor, $alpha: 0.25);
    font-size: 38px;
    position: relative;
    width: 100%;
    display: block;
    width: 100%;
    max-width: 40%;
    margin: 0 auto;

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba($color: $primary-color3, $alpha: 0.20);
      height: 1px;
      width: 50%;
      max-width: 100px;
    }
    &:after {
      left: auto;
      right: 0;
    }

    i {
      display: inline-block;
      line-height: 1;
    }
  }
}



// Section Title 2
.section-title2 {
  text-align: center;
  padding-bottom: 50px;
  
  .title {
    font-size: 48px;
    line-height: 1.4;
    margin-top: -15px;
    position: relative;
    margin-bottom: 25px;
  }

}


.section-title2,
.section-title3 {
  .icon {
    position: relative;
    width: 100%;
    display: inline-block;
    max-width: 260px;
    line-height: 1;
    margin-bottom: 35px;

    [class*="line"],
    [class^="line"] {
      background-color: rgba($color: $titleColor, $alpha: 0.20);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      max-width: 87px;
      height: 1px;

      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: -2.5px;
        width: 5px;
        height: 5px;
        background-color: inherit;
        @extend .radius-circle;
      }
    }

    [class*="line-2"],
    [class^="line-2"] {
      left: auto;
      right: 0;

      &:before {
        right: auto;
        left: 0;
      }
    }
  }
}


.quantity-box {
  display: flex;
  justify-content: center;

  input,
  button {
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    font-size: 16px;
    line-height: 50px;
    color: $titleColor;
  }

  input {
    color: #fff;
    background-color: $primary-color;
  }
}


.section-title3 {
  padding-bottom: 50px;

  .heading1 {
    margin-top: -13px;
    position: relative;
    margin-bottom: 15px;
  }

  .sub-title {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    line-height: 1;
    margin-bottom: 20px;

    span {
      border-radius: 7px;
      padding: 4px 5px;
      display: inline-block;
    }
  }

  .title1 {
    margin-bottom: 20px;
  }

  .icon {
    margin-bottom: 25px;
  }
}




// Title Styles
.title1 {
  font-size: 60px;
  text-transform: none;
  line-height: 1;
  margin-top: -8px;
  margin-bottom: 25px;
  position: relative;
}


// Features List
.inner-list {
  ul {
    margin: 0;
    padding: 0;
    padding-bottom: 7px;

    li {
      list-style-type: none;
      position: relative;
      padding-left: 43px;
      margin-bottom: 20px;

      span,
      strong {
        color: $titleColor;
        line-height: 1;
      }

      &:before {
        content: '\f00c';
        font-family: $iconFont;
        position: absolute;
        left: 0;
        top: -5px;
        display: inline-block;
        @include equal-size(35px);
        box-shadow: 0px 5px 20px 0px rgba($color: $primary-color, $alpha: 0.15);
        text-align: center;
        line-height: 35px;
        font-size: 14px;
        color: $primary-color;
        font-weight: 400;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
}



// Scroll To Top
a.scrollToTop {
  @include equal-size(60px);
  line-height: 60px;
  text-align: center;
  display: inline-block;
  position: fixed;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  z-index: 999;
  transition: all ease 0.4s;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }
  
  &::before {
    content: '';
    position: absolute;
    border: 1px dashed;
    border-color: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 1;
    border-radius: inherit;
  }


  &:hover {
    background-color: $primary-color2 !important;
    color: #ffffff;
    border-color: $primary-color2 !important;
  }
}







@include xl {
  .title1 {
    font-size: 46px;
  }
}


@include lg {
  .section-title {
    margin-bottom: 60px;
  }

  .section-title2 {
    .title {
      font-size: 38px;
      margin-top: -12px;
      margin-bottom: 15px;
    }
    
  }

  .section-title2,
  .section-title3 {
    .icon {
      margin-bottom: 20px;

      [class^="line"] {
        &::before {
          top: -2px;
        }
      }
    }
  }



  .title1 {
    font-size: 42px;
    margin-top: -6px;
  }

}

@include md {

  .section-title {
    .icon {
      max-width: 60%;

      &:after,
      &:before {
        max-width: 160px;
      }
    }
  }

  .section-title3,
  .section-title2 {
    padding-bottom: 10px;

    .title {
      font-size: 34px;
      margin-top: -10px;
    }
  }

  .section-title2,
  .section-title3 {
    .icon {
      margin-bottom: 15px;
    }
  }

  .title1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .section-title3 .sub-title {
    margin-bottom: 15px;
  }

  .play-btn {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 22px;
  }

  a.scrollToTop {
    @include equal-size-lineHeight(40px);
    right: 20px;
    bottom: 20px;
    &::before {
      display: none;
    }
  }
}

@include sm {
  .section-title {
    margin-bottom: 30px;

    .icon {
      max-width: 430px;
    }
  }

  .section-title2 {
    .title {
      font-size: 28px;
      margin-top: -8px;
    }

  }

  .title1 {
    font-size: 28px;
  }

  .section-title3 .sub-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .play-btn {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
  }
}

@include xs {
  .section-title {
    .text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    .icon {
      margin-left: auto;
      margin-right: auto;
      max-width: 280px;
      &:after,
      &::before {
        max-width: 100px;
      }
    }
  }

  .section-title2,
  .section-title3 {
    .icon {
      max-width: 280px;

      &:before,
      &:after {
        max-width: 80px;
      }
    }
  }




  .title1 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: -3px;
  }
}



